In [1]:
import pandas as pd
import numpy as np

In [2]:
hotels = pd.read_table("hotels.txt", header=None, names=["ID", "Hotel"])
hotels.head()

     ID                      Hotel
0  a13c       Hotel Maria Cristina
1  149f        Four Seasons Resort
2  45da  Belmond Grand Hotel Timeo
3  b60d                  Esperanza
4  da34          Brewery Gulch Inn

In [3]:
reviews = pd.read_table("reviews.txt", header=None, names=["username", "ID", "rating"])
reviews.head()

           username    ID  rating
0  prejudicednorman  5791       3
1  imaginaryscooner  aa4a       4
2          kookybob  f48e       1
3      uniquehombre  23d1       4
4       carefreeted  5791       2

In [8]:
mostFreqUser = reviews["username"].value_counts().index[0]
print("The user who posted the most reviews is", mostFreqUser)

The user who posted the most reviews is kookybob

In [5]:
merged = pd.merge(reviews, hotels, how="left", left_on="ID", right_on="ID")
merged

             username    ID  rating                   Hotel
0    prejudicednorman  5791       3        The Lanesborough
1    imaginaryscooner  aa4a       4            Planters Inn
2            kookybob  f48e       1                    Aman
3        uniquehombre  23d1       4                  Pendry
4         carefreeted  5791       2        The Lanesborough
5      preciouslegend  3a4b       5  Taj Diplomatic Enclave
6            kookybob  50ab       1               The Setai
7        dotingoutlaw  1ad3       4                Katikies
8            kookybob  1fd2       2              Sol y Luna
9      excitedcarrier  23d1       5                  Pendry
10      noteworthymom  340f       5            Hewing Hotel
11        carefreeted  340f       3            Hewing Hotel
12   prejucidednorman  1fd2       2              Sol y Luna
13           kookybob  aa4a       5            Planters Inn
14   gargantuantrusty  0de3       2                  Qualia
15        priceyscout  f48e       5                    Aman
16  yearlysecretariat  68d3       4           Alila Manggis
17        carefreeted  f41b       3      Triple Creek Ranch
18      noteworthymom  50ab       3               The Setai
19   gargantuantrusty  340f       5            Hewing Hotel

In [9]:
bestHotel = merged.groupby("Hotel")["rating"].mean().sort_values(ascending=False).index[0]
print("The best hotel:", bestHotel)

The best hotel: Taj Diplomatic Enclave

In [10]:
hotel = input("Enter a hotel name: ")

while hotel != "quit":
  #hotels[hotels["Hotel"] == hotel].shape[0]
  if hotel not in hotels["Hotel"].values:
    print("Hotel name does not exist in the database.")
  elif hotel not in merged["Hotel"].values:
    print("Nobody has rated for this hotel yet.")
  else:
    #avg_ratings = merged.groupby("Hotel")["rating"].mean()
    #print(avg_ratings[hotel])
    temp = merged[merged["Hotel"] == hotel]
    print("The average rating of the hotel:", format(temp["rating"].mean(), ".1f"))
  hotel = input("Enter a hotel name: ")

Nobody has rated for this hotel yet.
The average rating of the hotel: 4.0
The average rating of the hotel: 4.5
The average rating of the hotel: 4.3
Hotel name does not exist in the database.
The average rating of the hotel: 2.0
Nobody has rated for this hotel yet.
Hotel name does not exist in the database.

1