In [1]:
import pandas as pd

In [2]:
ratings = pd.read_table("all_ratings.txt")
ratings.head()

,userId,rating,title,genres
0,602,3.0,Waterworld (1995),Action|Adventure|Sci-Fi
1,580,4.0,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller
2,264,4.0,"Mask, The (1994)",Action|Comedy|Crime|Fantasy
3,370,4.5,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance
4,489,3.5,Titanic (1997),Drama|Romance

In [ ]:
user_input = input("Please enter a genre:").lower()

# the following line is wrong approach to find the related genres,
# since for instance it may consider and find "cri" as the valid genre  
#temp = ratings[ratings["genres"].str.contains(user_input)] 

# so it's better to use the following method
temp = ratings[ratings["genres"].apply(lambda x:user_input in x.lower().split("|"))]
query_series = temp.groupby("title")["rating"].mean().sort_values(ascending = False)

for idx in range(len(query_series)):
    movie = query_series.index[idx]
    rating = query_series.values[idx]
    watch = input("Would you like to watch " + movie + " with rating " + format(rating , ".4f") + ": " ).lower()
    while watch != "yes" and watch != "no": 
        watch = input("You entered an incorrect input, please enter yes or no: ").lower()
    if watch == "yes":
        print("Enjoy the movie!")
        break

if watch == "no":
    print("No movies left in this genre!")